@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    
    --line-border-fill: #1d4fbc;
    --line-border-empty: #070f5d;
}

* {
    box-sizing: border-box;
}

body { 
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(200,198,25,1) 21%, rgba(236,42,232,0.644677854051777) 57%, rgba(45,253,97,0.4822128680573792) 100%);
    background-color: aqua;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 20px;
}


.container {
   
    text-align: center;
}

.progress-container {
    border-style: groove;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.27492995489211314) 71%, rgba(252,176,69,1) 100%);
    border-width: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
   
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    border-style: double;
    border-color:rgb(71, 4, 116);
    border-width: 6px;
    background-color: var(--line-border-fill);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

